# Исследование надежности заемщиков

Для оценки надежности заемщиков были выполнены несколько этапов исследования: изучение данных, подготовка информации для анализа, категоризация данных и определение зависимости между семейным положением, количеством детей и выплатами кредитов.

## Изучение данных

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('/Users/arina200212yandex.ru/Desktop/data.csv')

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [ ]:
data['days_employed'] = data['days_employed'].abs()

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [ ]:
data['education'] = data['education'].str.lower()

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных



- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

In [ ]:
zavisimosti_dety_kredit = data.pivot_table(columns='children',values='debt')
zavisimosti_dety_kredit

children         0         1         2         3         4    5
debt      0.075438  0.092346  0.094542  0.081818  0.097561  0.0

**Вывод:** В выборке обнаружено небольшое количество заемщиков с пятерым детьми, поэтому этот набор данных не может быть использован для установления связи между количеством детей и выплатами кредита в срок. Исходя из полученных результатов, заемщики без детей имеют наименьший процент просрочек. Заемщики с одним, двумя или четырьмя детьми находятся примерно на одинаковом уровне по отношению к погашению кредита в срок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
zavisimosti_semiy_kredit = data.pivot_table(columns='family_status',values='debt')
zavisimosti_semiy_kredit

family_status,Не женат / не замужем,в разводе,вдовец / вдова,гражданский брак,женат / замужем
debt,0.097639,0.070648,0.066246,0.09313,0.075606

**Вывод:** Замужние/женатые, а также в разводе находящиеся заемщики имеют примерно одинаковый процент просрочки и расположены близко друг к другу. Самый низкий процент просрочки отмечается у заемщиков, которые потеряли своего партнера (вдовы/вдовцы). В то же время, заемщики, не состоящие в официальном браке, показывают наибольший процент просроченных платежей.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
zavisimosti_doxod_kredit = data.pivot_table(columns='total_income_category',values='debt')
zavisimosti_doxod_kredit

total_income_category     A         B         C         D         E
debt                   0.08  0.070602  0.084982  0.060172  0.090909

**Вывод:** Минимальное количество должников отмечено в категории D (30001-50000), затем следует категория В (200001-1000000), где количество должников также невысоко. Категории А (1000001 и выше) и С (50001-200000) имеют практически одинаковое количество должников. Больше всего должников отмечается в категории Е (0-30000), где заемщики получают наименьшую зарплату.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
zavisimosti_goal_kredit = data.pivot_table(columns='purpose_category',values='debt')

zavisimosti_goal_kredit

purpose_category,операции с автомобилем,операции с недвижимостью,получение образования,проведение свадьбы
debt,0.09348,0.072551,0.092528,0.079118

**Вывод:** Самый низкий процент просрочки отмечается у заемщиков, которые берут кредит на операции с недвижимостью. Затем идут заемщики, которые берут кредит на проведение свадьбы. Люди, которые берут кредит на операции с автомобилем и получение образования, имеют самый высокий процент просрочки.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* неправильное заполнение форм, техническая ошибка при выгрузке.

In [ ]:
propyski = data.loc[(data['days_employed'].isna() & data['total_income'].isna())]
propyski.head(5)

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, total_income_category, purpose_category]
Index: []

Анализ пропущенных значений показал, что они находятся в двух столбцах и в одинаковых строках. Это говорит о том, что пропуски не являются случайными, а имеется зависимость между столбцами days_employed и total_income. Вероятно, это связано с ошибками при заполнении анкеты.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*  Заполнение пропущенных значений медианным значением является предпочтительным, так как медиана не зависит от выбросов в выборке, и таким образом ближе к истинному среднему значению.

### Шаг 4: Общий вывод.

Заказчику рекомендуется обратить внимание на следующие группы клиентов: 

- Заемщики с четырьмя детьми.
- Заемщики, не состоящие в официальном браке.
- Заемщики с доходом ниже 30000.
- Заемщики, берущие кредиты на автомобили.

В проведенном исследовании была исследована зависимость между такими факторами, как наличие детей, семейное положение, уровень дохода и цель взятия кредита, и своевременностью выплаты кредитной задолжности. Наличие детей оказалось одним из факторов, но не имеется достаточно данных для заемщиков с 4 или 5 детьми, чтобы утверждать это с уверенностью.

In [ ]:
zavisimosti_dety_kredit

children         0         1         2         3         4    5
debt      0.075438  0.092346  0.094542  0.081818  0.097561  0.0

Проведенный анализ позволяет говорить о зависимости между заемщиками, имеющими детей и теми, кто не имеет. Так, у заемщиков, не имеющих детей, наблюдается самый низкий процент просрочки в размере 7,5%, в то время как у заемщиков с 4 детьми данный показатель составляет 9,7%. 

Следующей рассмотренной категорией являлось "Семейное положение". Исследование подтверждает гипотезу о влиянии данного фактора на своевременность выплаты кредита.

In [ ]:
zavisimosti_semiy_kredit

family_status,Не женат / не замужем,в разводе,вдовец / вдова,гражданский брак,женат / замужем
debt,0.097639,0.070648,0.066246,0.09313,0.075606

Исходя из проведенного анализа, можно говорить о зависимости между выплатой кредита в срок и семейным положением. У заемщиков, потерявших своего партнера в результате происшествия, наблюдается самый низкий процент просрочки кредита - 6,6%, в то время как у заемщиков, не состоящих в браке, данный показатель составляет 9,7%.

Третьей рассмотренной категорией является "Уровень дохода". Однако данная гипотеза не имеет подтверждения на 100%, так как в выборке относительно мало данных по категориям А, Е и D.

In [ ]:
zavisimosti_doxod_kredit

total_income_category     A         B         C         D         E
debt                   0.08  0.070602  0.084982  0.060172  0.090909

На основании проведенного анализа нельзя с большой точностью говорить о зависимости между выплатой кредита в срок и уровнем дохода. Среди заемщиков с доходом до 30 000 наблюдается самый высокий процент просрочки - 9%, а у заемщиков с доходом от 30 000 до 50 000 - самый низкий показатель в 6%.

Четвертой рассмотренной категорией является "Цель взятия кредита". Данная гипотеза имеет полное подтверждение на основе проведенного исследования.

In [ ]:
zavisimosti_goal_kredit

purpose_category,операции с автомобилем,операции с недвижимостью,получение образования,проведение свадьбы
debt,0.09348,0.072551,0.092528,0.079118

Проведенный анализ показал, что существует зависимость между погашением кредита вовремя и целью взятия кредита. Наблюдается самый высокий процент просроченных кредитов (9,3%) у заемщиков, которые взяли кредит на автомобиль, немного ниже – у тех, кто взял кредит на образование. В свою очередь, у заемщиков, взявших кредит на недвижимость, самый низкий уровень просрочки (7,2%).

В свете этих результатов заказчику стоит обратить особое внимание на семейное положение и цель взятия кредита. Также важно обратить внимание на заемщиков, берущих кредит на приобретение автомобиля, поскольку они обладают самым высоким уровнем просрочки в платежах по кредиту.